                        <img src="/assets/img/slider_02_javanese_wedding.jpg" class="w-full h-full object-cover grayscale group-hover:grayscale-0 transition-all duration-500">
                        <div class="absolute inset-0 bg-dark-bg/50 opacity-0 group-hover:opacity-100 transition-opacity flex items-center justify-center">
                            <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
                        </div>
                    </div>
                    <div class="h-full w-40 md:w-56 flex-shrink-0 relative group">
                        <img src="/assets/img/gallery_indo_2.jpg" class="w-full h-full object-cover grayscale group-hover:grayscale-0 transition-all duration-500">
                    </div>
                    <div class="h-full w-40 md:w-56 flex-shrink-0 relative group">
                        <img src="/assets/img/slider_04_city_lights.jpg" class="w-full h-full object-cover grayscale group-hover:grayscale-0 transition-all duration-500">
                    </div>
                    <div class="h-full w-40 md:w-56 flex-shrink-0 relative group">
                        <img src="/assets/img/slider_04_javanese_prewedding.jpg" class="w-full h-full object-cover grayscale group-hover:grayscale-0 transition-all duration-500">
                    </div>
                    <div class="h-full w-40 md:w-56 flex-shrink-0 relative group">
                        <img src="/assets/img/gallery_indo_4.jpg" class="w-full h-full object-cover grayscale group-hover:grayscale-0 transition-all duration-500">
                    </div>
                    <div class="h-full w-40 md:w-56 flex-shrink-0 relative group">
